* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;

	overflow: hidden;
}

body {
	height: 100%;

	font-family: Helvetica, sans-serif;
	background: #fff;
	font-size: 21px;

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);

	overflow: hidden;
}

#wrapper {
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	translateZ: 0;
}

#layer2 {
	z-index: 1000;
}