html {
	-webkit-text-size-adjust: none;
}

.container-fluid {
	padding-top: 20px;
}

#title {
	border-bottom: 1px solid #d1d1d1;

	margin-bottom: 10px;
}

#outline li {
	position: relative;

	padding-top: 0px;
	padding-bottom: 0px;

	line-height: 40px;
	font-size: 20px;
}

#outline input {
	position: absolute;
	left: 0;
	right: 83px; /* width of button */
	top: 0;
	bottom: 0;

	height: 40px;
	width: auto;

	margin-bottom: 0px;
	padding: 0;

	color: #000;

	font-size: 20px;

	border: 0 solid #000;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#outline input:focus {
	color: #000;

	border-color: none;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#outline .btn {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#outline .btn-small {
	padding: 5px 9px;
	font-size: 15px;
	line-height: 28px;
}

#outline .btn-draw {
	float: right;
}