html {
	-webkit-text-size-adjust: none;
}

.container-fluid {
	padding-top: 20px;
}

#title {
	border-bottom: 1px solid #d1d1d1;

	margin-bottom: 10px;
}

#outline li {
	position: relative;

	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 2px;

	line-height: 40px;
	font-size: 20px;
}

#outline input {
	position: absolute;
	left: 0;
	right: 131px; /* width of button */
	top: 0;
	bottom: 0;

	height: 40px;
	width: auto;

	margin-bottom: 0px;
	padding: 0;

	color: #000;

	font-size: 20px;

	border: 1px solid #fff;
	
	-webkit-appearance: none;

	-webkit-box-shadow: none;
	box-shadow: none;

	-webkit-transition: none;
	transition: none;
}

#outline input:focus {
	border: 1px solid #b1b1b1;
}

#outline .btn {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#outline .btn-small {
	padding: 11px 9px;
	font-size: 17px;
	line-height: 17px;
}

#outline .btn.btn-delete {
	width: 40px;
}

#outline .btn-group {
	float: right;
}

#outline .btn-group .btn:first-child {
	-webkit-border-radius: 0;
}

#outline .btn-group.hidden {
	display: none;
}